<!DOCTYPE html>

<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'myapp/css/style.css' %}">
    </head>
    <body>
        <h1>Error!</h1>
        <div class="tenor-gif-embed" data-postid="16623750" data-share-method="host" data-aspect-ratio="1.23552" data-width="100%"><a href="https://tenor.com/view/sad-anxious-cute-bunny-worried-gif-16623750">Sad Anxious Sticker</a>from <a href="https://tenor.com/search/sad-stickers">Sad Stickers</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
    </body>
</html>