
<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'myapp/css/style.css' %}">
    <title>Submit Page</title>
    <style>
        /* Basic styling for the loading GIF */
        #loading {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1000;
        }
    </style>
</head>
<body>
    <div id="content">
        <h1>Welcome to the PDF Processor!</h1>
        <h3>How it works</h3>
        <p>First, make sure the AnkiConnect add-on has been enabled on your Anki app! 
            Next, open your Anki app 
            Finally, enter the path to the PDF and the title of the set you'd like to add to and press go!
        </p>
    </div>

    <form action="{% url 'submit' %}" id="upload-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        
        <!-- You can include additional HTML elements if needed -->
        <label for="pdf_file">Choose a PDF file:</label>
        <input type="file" id="pdf_file" name="pdf_file" accept=".pdf">

        <label for="set_name">Deck Name:</label>
        <input type="text" id="set_name" name="set_name">
        
        <button type="submit">Submit</button>
    </form>

    <!-- <div id="loading" data-postid="15248522" data-share-method="host" data-aspect-ratio="1.18519" data-width="100%">
        <a href="https://tenor.com/view/excited-milk-and-mocha-cute-bear-white-bear-love-bear-gif-15248522">Excited Milk And Mocha GIF</a>from 
        <a href="https://tenor.com/search/excited-gifs">Excited GIFs</a>
    </div> 
    <script type="text/javascript" async src="https://tenor.com/embed.js"></script> -->

    <div id="loading">
        <img src="https://media.tenor.com/v1KQ1erFvWMAAAAC/excited-milk-and-mocha.gif" alt="Excited Milk And Mocha GIF">
    </div>
    

    <script>
        document.getElementById('upload-form').addEventListener('submit', function(event) {
            event.preventDefault();  // Prevent the default form submission
            document.getElementById('upload-form').style.display = 'none';  // Hide the existing content
            document.getElementById('loading').style.display = 'block';  // Show the loading GIF

            event.target.submit();  
        });

        document.getElementById('upload-form').onsubmit = function() {
            document.querySelector('button[type="submit"]').disabled = true;
        }; 
    </script>
</body>
</html>