<!DOCTYPE html>

<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'myapp/css/style.css' %}">
    </head>
    <body>
        <h1>Your PDF has been processed and your Anki set has been Made!</h1>
        <div class="tenor-gif-embed" data-postid="20509463" data-share-method="host" data-aspect-ratio="1.24031" data-width="100%"><a href="https://tenor.com/view/excited-spin-yayy-cat-peachcat-gif-20509463">Excited Spin GIF</a>from <a href="https://tenor.com/search/excited-gifs">Excited GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
    </body>
</html>